/* Main Content */
main {
    flex: 1 0 auto;
    max-width: 1220px;
    margin: auto;
    padding: 0 10px 10px 10px;
}

.gaming-article-image {
    width: 100%;
}

.read-more {
    text-align: right;
}

.gaming-article header{
    text-align: center;
}

.gaming-article-summary {
    text-align: justify;
}