/* Buttons */
button {
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: #E06666;
    color: #FFFFFF;
    min-width: 124px;
}
button.disabled {
    border: none;
    background-color: #efefef;
    color: grey;
    cursor: not-allowed;
}
/* End Buttons */

input,
textarea {
    border-radius: 0.25em;
    padding: 0.75em;
    border: 1px solid grey;
}
input:focus, 
textarea:focus{
    outline-color: #b1eeec;
}

/* Forms */
/* We use a grid layout here as it's trivial to layout
the labels on the left, inputs on the right, and 
the submit button in the "inputs" column. Furthermore,
it's trivial to change the layout as seen in the section below. */
.horizontal-form {
    display: grid;
    grid-template-columns: 125px 1fr;
    gap: 15px;
}
.horizontal-form label {
    grid-column: 1 / 2;
    display: flex;
    justify-self: right;
    align-self: center;
}
.horizontal-form input,
.horizontal-form textarea {
    grid-column: 2 / 3;
}
.horizontal-form button[type="button"] {
    grid-column: 2 / 3;
}

/* Here we are changing from a horizontal layout
to a single column one, to be space conscious when
viewing this page on a mobile device or much lower resolution. */
@media screen and (max-width: 768px) {
    .horizontal-form {
        display: grid;
        grid-template-columns: 1fr;
    }
    .horizontal-form label {
        grid-column: 1;
        display: flex;
        justify-self: left;
        align-self: center;
    }
    .horizontal-form input,
    .horizontal-form textarea {
        grid-column: 1;
    }
    .horizontal-form button[type="button"] {
        grid-column: 1;
    }
}
/* End Forms */