/* Articles */
.article-section {
    margin: 35px 0px;
    display: flex;
    box-shadow: 0px 0px 23px 14px #efefef;
    /* height: 285px; */
}
.article-section .article-thumbnail {
    flex: 3;
    background-size: cover;
    background-position-x: center;
}
.article-section .article {
    display: flex;
    flex-direction: column;
    flex: 6;
}
.article-section .article-summary,
.article-section .article header,
.article-section p {
    margin: 10px;
}
.article-section .article header h3{
    margin: 0;
}
.article-section.flex-reverse .article header,
.article-section.flex-reverse .article-summary {
    text-align: right;
}

.article-section p.read-more {
    align-self: flex-end;
    display: flex;
    flex-grow: 1;
}
.article-section.flex-reverse p.read-more {
    align-self: flex-start;
}
.article-section p.read-more a {
    align-self: flex-end;
}

@media screen and (max-width: 769px) {
    .article-section .article-summary{
        padding: 10px;
    }
    .article-section .article-summary p {
        text-align: justify;
    }
}
@media screen and (max-width: 512px) {
    .article-section {
        flex-direction: column
    }
    .article-section img {
        width: 100%;
        min-height: 130px;
    }
    .article-section .article-summary {
        margin-left: 0;
    }
    .article-section .article-summary h3 {
        text-align: center;
    }
    .article-section .article-summary p {
        text-align: justify;
    }
}
/* End Articles */

@media (prefers-color-scheme: dark) {
    .article-section {
        box-shadow: 0px 0px 5px 3px #333333 !important;
        background-color: #7D7D7D;
    }
    .article * {
        color: white;
    }
    a, a:visited {
        color: #E06666 !important;
    }
}