/* 
    Colours
    primary: #E06666
    secondary: #333333
    primary-complement: #26B5AF
*/

/* Base/Foundational */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "SourceSansPro-Light";
    src: url("/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: "PublicSans-Light";
    src: url("/assets/fonts/PublicSans-Light.ttf") format("truetype");
}

html, body, a, p, span {
    font-family: "SourceSansPro-Light", 'Times New Roman';
}
h1, h2, h3, h4, h5, h6, header {
    font-family: "PublicSans-Light", 'Times New Roman';
}

a, a:visited {
    color: #E06666;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #26B5AF;
}
p {
    font-size: 1.25em;
}
/* End Base/Foundational */

/* Header */
#logo-container {
    padding-left: 15px;
}
#hamburger {
    display: inline-block;
    cursor: pointer;
}
#hamburger div {
    width: 35px;
    height: 5px;
    background-color: #E06666;
    margin: 7px 0;
    transition: 0.4s;
}

/* The following code was taken and modified from w3schools */
.pickup-burger .top-burger-bun {
    -webkit-transform: rotate(45deg) translate(-10px, 25px);
    transform: rotate(45deg) translate(-10px, 25px);
}
.pickup-burger .burger-filling {
    opacity: 0;
}
.pickup-burger .bottom-burger-bun {
    -webkit-transform: rotate(-45deg) translate(10px, -15px);
    transform: rotate(-45deg) translate(8px, -11px);
}

nav {
    padding: 10px;
    background-color: #333333;
    position: relative;
    z-index: 10;
}
nav .nav-content {
    background-color: #333333;
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    font-size: 1.25em;
}
nav .nav-content .nav-menu-link {
    padding: 0 15px;
}
#popout-nav-menu {
    background-color: #333333;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: -10px;
    display: flex;
    flex-direction: column;
}
#popout-nav-menu a {
    padding: 14px 0;
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    font-style: bold;
}

.nav-menu-link.active,
.footer-nav-link.active {
    color: #26B5AF;
}

@media (prefers-color-scheme: dark) {
    body, html {
      background: #4b4b4b;
    }
    html, body, p, span, h1, h2, h3, h4, h5, h6, header {
        color: #AEAEAE;
    }
  }
/* End Header */

main {
    flex: 1 0 auto;
    max-width: 1220px;
    margin: auto;
    padding: 0 10px 10px 10px;
}

.separator {
    height: 20px;
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at top center, rgba(0,0,0,0.08), transparent);
}
.separator:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0,0,0,0.02), rgba(0,0,0,0.02), transparent);
}
  

.paging-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 0 125px 0;
}
/* End Main Content */

/* Footer */
footer {
    min-height: 100px;
    width: 100%;
    max-width: 1220px;
    background-color: #333333;
    margin: auto;
    flex-shrink: 0;
    border-radius: 12px 12px 0 0;
}

@media screen and (max-width: 769px) {
    footer section:first-child {
        height: 70px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: safe;
    }
    footer section a {
        font-size: 1.2em;
        padding: 6px;
        order: none;
    }
    footer section:last-child {
        color: #FFFFFF;
        display: flex;
        justify-content: flex-end;
        padding: 0 15px 15px 0;
    }
}

@media screen and (min-width: 769px) {
    footer section:first-child {
        height: 70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    footer section a {
        font-size: 1.2em;
    }
    footer section:last-child {
        color: #FFFFFF;
        display: flex;
        justify-content: flex-end;
        padding: 0 15px 15px 0;
    }
}
@media screen and (max-width: 768px) {
    footer {
        display: flex;
        align-items: center;
    }
    footer img {
        width: auto;
        height: 32px;
        align-self: center;
    }
    footer a.footer-nav-link{
        display: flex;
        flex-direction: column;
    }
    footer section:last-child {
        padding: 0;
        justify-self: right;
        min-width: 100px;
    }
    footer section:last-child span{
        padding: 6px;
    }
}
/* End Footer */

/* General helper classes */
.hidden {
    display: none;
}
.flex-1 { display: flex; flex: 1;}
.flex-2 { display: flex; flex: 2;}
.flex-3 { display: flex; flex: 3;}
.flex-4 { display: flex; flex: 4;}
.flex-5 { display: flex; flex: 5;}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-reverse {
    flex-direction: row-reverse;
}
/* End General Helper classes */

/* Responsive helper classes */
.visible-mobile-xs {
    display: none;
}

@media screen and (max-width: 438px) {
    .hidden-mobile-xs {
        display: none !important;
    }
    .visible-mobile-xs {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .hidden-mobile {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .hidden-tablet {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
    .hidden-desktop {
        display: none !important;
    }
}
/* End Helper/Convenience classes */